name: Build EyadProxy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build with Maven
        run: mvn package

      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: EyadProxy
          path: target/EyadProxy-1.0.jar
